.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0 32px 0;
}
.loader {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #c8aa6e;
  border-color: #c8aa6e transparent #c8aa6e transparent;
  animation: rotate360 1.2s linear infinite;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
