.browse-container {
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  background-color: #e9eaec;
}
.browse-header-wrapper {
  width: 100%;
  background-color: #e9eaec;
  border-top: none;
  border-left: none;
  border-right: none;
}
.browse-header {
  font-size: 72px;
}
