.browse-item-card {
  position: relative;
  max-width: 240px;
  background-color: #e9eaec;
  margin: 2%;
  color: #47412b;
  text-decoration: none;
}
.browse-item-card:hover {
  transform: scale(1.1);
}
.browse-item-card-image {
  max-width: 240px;
  max-height: 240px;
}
.browse-item-card-title {
  flex: 1 1 auto;
  margin: 2%;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
}
.browse-item-card-price {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  margin: 0% auto 2% auto;
}
