.pagination {
  min-height: 10%;

  background-color: #e9eaec;
  font-size: 36px;
  padding: 10px;

  border-left: none;
  border-right: none;
  border-bottom: none;

  display: flex;
  justify-content: center;
}
.pagination-page-button {
  user-select: none;
  text-decoration: none;
  color: #c8aa6e;
  background-color: #ffffff;
  margin: 3px;
  padding: 0 5px 0 5px;
}
.pagination-page-button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(180deg,#c3a758,#6b521e);
  color: #FFFFFF;
  background-color: #c3a758;
}
.pagination-current-page-button {
  pointer-events: none;
}
.isDisabled {
  opacity: 0.5;
  pointer-events: none;
}
