.pagination {
  background-color: #E9EAEC;
  border-image: linear-gradient(180deg,#c3a758,#6b521e) stretch;
  border-style: solid;
  border-image-slice: 1;
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 36px;
  padding: 10px;
}
.pagination-page-button {
  user-select: none;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 3px;
  border-image: linear-gradient(180deg,#c3a758,#6b521e) stretch;
  border-style: solid;
  border-image-slice: 1;
  border-width: 2px;
  color: #C8AA6E;
}
.pagination-page-button:hover {
  background-color: rgb(236, 219, 186);  
}
.pagination-current-page-button {
  pointer-events: none;
}
.isDisabled {
  opacity: 0.5;
  pointer-events: none;
}
